<h2 mat-dialog-title style="font-size: 18px; font-weight: bold; text-align: center">Add comment to feature</h2>
<mat-dialog-content>
  <p><b>External ID: </b>{{ data.feature.attributes.external_id }}</p>
  <p><b>Title: </b>{{ data.feature.attributes.title }}</p>
  <p><b>Magnitude: </b>{{ data.feature.attributes.magnitude }}</p>
  <p><b>Place: </b>{{ data.feature.attributes.place }}</p>
  <p><b>Mag Type: </b>{{ data.feature.attributes.mag_type }}</p>
  <p><b>Latitude: </b>{{ data.feature.attributes.coordinates.latitude }}</p>
  <p><b>Longitude: </b>{{ data.feature.attributes.coordinates.longitude }}</p>
  <mat-form-field>
    <mat-label>Leave a comment</mat-label>
    <textarea matInput [(ngModel)]="body" rows="5" placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="body" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
